<h2 translate>Risk Settings</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>User Type</th>
                <th>Risk Score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,value) in form['user_risk']"
                ng-if="hasDefinedUserRisks()">
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteRisk(key)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control"
                        ng-model="newUserType" name="userType"
                        ng-options="select for select in form['user_types']">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control"
                            ng-model="newUserRiskScore" name="riskScore"/>
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addUserRisk()">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span translate>Add new user risk score</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Service</th>
                <th>Risk Score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,value) in form['service_risk']"
                ng-if="hasDefinedServiceRisks()">
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteRisk(key)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text"
                            class="form-control"
                            ng-model="newServiceName"
                            name="service"/>
                </td>
                <td>
                    <input type="number" class="form-control"
                            ng-model="newServiceRiskScore" name="riskScore"/>
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addServiceRisk()">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span translate>Add new service risk score</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>IP</th>
                <th>Risk Score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,value) in form['ip_risk']"
                ng-if="hasDefinedIPRisks()">
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteRisk(key)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text"
                            class="form-control"
                            ng-model="newIP"
                            name="ip"/>
                </td>
                <td>
                    <input type="number" class="form-control"
                            ng-model="newIPRiskScore" name="riskScore"/>
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addIPRisk()">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span translate>Add new IP risk score</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>