<h2 translate>Risk Settings</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>User Type</th>
                <th>Risk Score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="element in form['user_risk']"
                ng-if="hasDefinedUserRisks()">
                <td>{{element.type}}</td>
                <td>{{element.risk_score}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteRisk('user',element.id)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr ng-show="hasUserTypesWithoutRisk()">
                <td>
                    <select class="form-control"
                        ng-model="newUserType" name="userType"
                        ng-options="select for select in typesWithoutScore">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control"
                            ng-model="newUserRiskScore" name="riskScore"/>
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addUserRisk()">
                        Add new user risk score
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Service</th>
                <th>Risk Score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="element in form['service_risk']"
                ng-if="hasDefinedServiceRisks()">
                <td>{{element.name}}</td>
                <td>{{element.risk_score}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteRisk('service',element.id)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text"
                            class="form-control"
                            ng-model="newServiceName"
                            name="service"/>
                </td>
                <td>
                    <input type="number" class="form-control"
                            ng-model="newServiceRiskScore" name="riskScore"/>
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addServiceRisk()">
                        Add new service risk score
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>IP</th>
                <th>Risk Score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="element in form['ip_risk']"
                ng-if="hasDefinedIPRisks()">
                <td>{{element.ip}}</td>
                <td>{{element.risk_score}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteRisk('ip',element.id)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text"
                            class="form-control"
                            ng-model="newIP"
                            name="ip"/>
                </td>
                <td>
                    <input type="number" class="form-control"
                            ng-model="newIPRiskScore" name="riskScore"/>
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addIPRisk()">
                        Add new IP risk score
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h2>Thresholds</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Token</th>
                <th>Threshold required</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="element in form['thresholds'] | orderBy : 'threshold'"
            ng-show="hasDefinedThresholds()">
                <td>{{element.token}}</td>
                <td>{{element.threshold}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteThreshold(element.id)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control"
                        ng-model="newThresholdToken" name="thresholdToken"
                        ng-options="select for select in form['token_types']">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control"
                           ng-model="newThresholdValue" name="thresholdValue" />
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addThreshold()">
                        Add new Threshold
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>