<div class="row">
    <div class="col-lg-3 sticky">
        <div class="pa-sidebar panel">
            <ul class="nav nav-pills nav-stacked nav-capitalize">
                <li role="presentation"
                    ng-show="checkRight('policyread')"
                    ng-class="{ active: $state.includes('config.risk.user')}">
                    <a ui-sref="config.risk.user" translate>
                        User type</a></li>
                <li role="presentation"
                    ng-show="checkRight('policyread')"
                    ng-class="{ active: $state.includes('config.risk.service')}">
                    <a ui-sref="config.risk.service" translate>
                        Service</a></li>
                <li role="presentation"
                    ng-show="checkRight('policyread')"
                    ng-class="{ active: $state.includes('config.risk.ip')}">
                    <a ui-sref="config.risk.ip" translate>
                        IP</a></li>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view class="col-lg-9 slide panel"></div>
</div>

<!-- <h2>Thresholds</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Token</th>
                <th>Threshold required</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="element in form['thresholds'] | orderBy : 'threshold'"
            ng-show="hasDefinedThresholds()">
                <td>{{element.token}}</td>
                <td>{{element.threshold}}</td>
                <td>
                    <button class="btn btn-danger"
                            ng-click="deleteThreshold(element.id)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control"
                        ng-model="newThresholdToken" name="thresholdToken"
                        ng-options="select for select in form['token_types']">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control"
                           ng-model="newThresholdValue" name="thresholdValue" />
                </td>
                <td>
                    <button class="btn btn-default"
                            ng-click="addThreshold()">
                        Add new Threshold
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->